.tag {
    border-radius: var(--border-radius-base);
    padding: 0.08rem 0.3rem;
    font-size: var(--font-size-xxs);
    color: var(--white);
    font-weight: var(--font-weight-semibold);
    font-family: var(--font-mono), monospace;
    display: inline-block;
    width: auto;
    border: 2px solid var(--pink);
    white-space: nowrap;
    max-width: max-content;
    box-shadow: var(--shadow-base);
    background-color: var(--black);
}

.tag:hover {
    cursor: pointer;
    border: 2px solid var(--white);
    transition: transform 0.2s ease-in-out;
}

.tag:active {
    transform: scale(0.9);
    transition: transform 0.1s ease-in-out;
}

.active {
    background-color: var(--pink);
    border: 2px solid var(--white);
}
