.tag {
    border-radius: var(--border-radius-base);
    padding: 0.01rem 0.25rem;
    font-size: var(--font-size-xxs);
    color: var(--white);
    font-weight: var(--font-weight-semibold);
    font-family: var(--font-mono), monospace;
    display: inline-block;
    width: auto;
    border: 2px solid var(--pink);
    white-space: nowrap;
    max-width: max-content;
}

.tag:hover {
    cursor: pointer;
    border: 2px solid var(--black);
    transition: transform 0.2s ease-in-out;
}
