.quoteBlock {
    display: flex;
    flex-direction: column;
    margin: 4rem 0;
    box-shadow: none;
}

.quoteBlock p {
    font-weight: var(--font-weight-regular);
    background-color: var(--background);
    font-size: var(--font-size-xs);
    box-shadow: none;
    text-indent: 2rem;
}
