.quoteBlock {
    margin: 4rem 0;
    box-shadow: none;
}

.quoteBlock p {
    font-family: var(--font-mono), monospace;
    font-weight: var(--font-weight-regular);
    background-color: var(--background);
    font-size: var(--font-size-xs);
    box-shadow: none;
}
