.quoteBlock {
    display: flex;
    flex-direction: column;
    margin: 4rem 0;
    box-shadow: none;
}

.quoteBlock p {
    font-weight: var(--font-weight-regular);
    background-color: var(--white);
    font-size: var(--font-size-xs);
    box-shadow: none;
    text-indent: 2rem;
}

@media(width <= 1000px) {
    .quoteBlock p {
        font-size: var(--font-size-base);
    }
}

@media(width <= 800px) {
    .quoteBlock p {
        text-indent: 1.5rem;
    }
}

@media(width <= 500px) {
    .quoteBlock {
        margin-block: 0.2rem;
    }

    .quoteBlock p {
        text-indent: 1rem;
        font-size: var(--font-size-xxs);
        margin-block: 0.8rem;
    }
}
