header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    align-items: center;
    width: 100%;
    padding: 1rem 12.5rem;
    background: linear-gradient(
        to bottom,
        rgb(255 255 255 / 40%),
        rgb(255 255 255 / 0%)
    );
    border-bottom: 1px solid var(--black);
    box-shadow: 0 10px 20px -10px rgb(0 0 0 / 30%);
    backdrop-filter: blur(8px);
}

.logoLink h1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.logoLink h1 span:first-child {
    display: inline-block;
    padding: 0.2rem 0.8rem 0;
    border-radius:
            var(--border-radius-small)
            var(--border-radius-small)
            0
            0;
    background: #a8eb0f;

}

.logoLink h1 span:last-child {
    margin-top: -0.4rem;
    padding: 0.2rem 0.8rem;
    border-radius:
            0
            var(--border-radius-small)
            var(--border-radius-small)
            var(--border-radius-small);
    background: #a8eb0f;
}

.logo {
    display: inline-block;
    grid-row: 1 / 3;
    grid-column: 1 / 1;
    font-size: var(--font-size-lg);
    text-align: left;
    border-radius: var(--border-radius-base);
}

.selector {
    align-self: start;
}

ul {
    grid-row: 1 / 3;
    grid-column: 3 / 3;
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-sm);
    text-align: right;
    list-style: none;
}

nav li:nth-child(2) {
    padding: 0.2rem 0;
}

nav ul li a {
    padding: 0.15rem 0.3rem;
    background: var(--lime-green);
    border-radius: var(--border-radius-small);
}

a {
    color: var(--black);
    text-decoration: none;
}

.linksNav:hover {
    text-decoration: underline;
    text-decoration-thickness: 0.2rem;
    text-underline-offset: 0.2rem;
}

.linksNav:focus-visible {
    outline: 2px solid var(--lime-green);
    outline-offset: 2px;
}

li {
    display: block;
}

li:hover {
    transform: scale(1.02);
    transition: transform 0.2s;
}

li:active {
    transform: scale(0.95);
    transition: transform 0.2s;
}

.logoLink {
    cursor: pointer;
}

.logoLink:hover {
    transform: scale(1.03);
    transition: transform 0.3s;
    will-change: transform;
    text-rendering: optimizeLegibility;
}

.logoLink:active {
    transform: scale(0.95);
    transition: transform 0.2s;

}

/* Media Queries - Landscape */
@media (width <= 1300px) {
    header {
        padding-inline: 9rem;
    }
}

@media (width <= 1100px) {
    .logo {
        font-size: var(--font-size-md-plus);
    }

    ul {
        font-size: var(--font-size-base);
    }

    nav li:nth-child(2) {
        padding: 0.4rem 0;
    }

    .linksNav:hover {
        text-decoration: underline;
        text-decoration-thickness: 0.1rem;
        text-underline-offset: 0.3rem;
    }
}

@media (width <= 1000px) {
    header {
        padding: 0.7rem 6rem;
    }
}

@media (width <= 900px) {
    nav li:nth-child(2) {
        padding: 0;
    }
}

@media (width <= 800px) {
    header {
        padding: 0.5rem 4rem;
    }

    .logo {
        font-size: var(--font-size-md);
    }

    ul {
        font-size: var(--font-size-base);
    }
}

@media (width <= 700px) {
    header {
        padding: 0.5rem 4rem;
    }
}

@media (width <= 600px) {
    header {
        padding: 0.5rem 2rem;
    }

    ul {
        font-size: var(--font-size-xxs);
    }

    .logo {
        font-size: var(--font-size-sm);
    }
}

@media (width <= 500px) {
    header {
        padding: 0.5rem 1.5rem;
    }

    .logo {
        font-size: var(--font-size-xs);
    }

    ul {
        font-size: var(--font-size-xxs);
    }

    .linksNav:hover {
        text-decoration: underline;
        text-decoration-thickness: 0.1rem;
        text-underline-offset: 0.1rem;
    }
}

/* Media Queries - Portrait */
@media (width <= 1100px) and (orientation: portrait) {
    header {
        gap: 1rem;
        width: 100vw;
        padding: 1rem 6rem;
    }
}

@media (width <= 900px) and (orientation: portrait) {
    header {
        padding: 1rem 4rem;
    }
}

@media (width <= 600px) and (orientation: portrait) {
    header {
        padding: 1rem 3rem;
    }
}

@media (width <= 500px) and (orientation: portrait) {
    header {
        padding: 1rem 2rem;
    }
}

@media (width <= 400px) and (orientation: portrait) {
    header {
        padding: 1rem;
    }
}
