.badge {
    perspective: 2000px;
    border-radius: var(--border-radius-medium);
    z-index: 100;
    cursor: pointer;
}

.badgeInner {
    position: relative;
    width: 19rem;
    height: 27rem;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    border-radius: var(--border-radius-medium);
}

.badgeInner p {
    background-color: transparent;
    box-shadow: none;
}

.badge:hover .badgeInner {
    transform: rotateY(180deg);
}

.badgeInner.flipped {
    transform: rotateY(180deg);
}

.badgeFront, .badgeBack {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    padding: 4rem 0 1rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    box-shadow: var(--shadow-regular);
    border-radius: var(--border-radius-medium);
}

.badgeFront {
    align-items: center;
    gap: 0.5rem;
}

.badgeFront img {
    margin-top: 1rem;
    width: 8rem;
    height: auto;
}

.badgeFront h3 {
    margin-top: 1.5rem;
    font-size: var(--font-size-md);
}

.badgeFront p {
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-medium);
    text-align: center;
}

.badgeBack {
    transform: rotateY(180deg);
    align-items: flex-start;
    text-align: left;
    justify-content: space-evenly;
}

.badgeBack p {
    font-size: var(--font-size-base);
    padding: 1rem 1rem;
    line-height: 1.5;
    font-weight: var(--font-weight-regular);
    font-family: var(--font-mono), monospace;
}

.badgeBack span {
    font-weight: var(--font-weight-bold);
}

.badgeHole {
    position: absolute;
    top: 8%;
    left: 50%;
    width: 3.6rem;
    height: 1.2rem;
    background-color: var(--background); /* ou transparente */
    transform: translate(-50%, -50%);
    border-radius: 4px;
    z-index: 5;
    box-shadow: inset 8px 8px 10px rgba(0, 0, 0, 0.35);
}

@media (width < 1000px) {
    .badgeInner {
        width: 17rem;
        height: 24rem;
    }

    .badgeFront img {
        margin-top: 0.5rem;
        width: 6.5rem;
    }

    .badgeFront h3 {
        margin-top: 1rem;
        font-size: var(--font-size-sm);
    }

    .badgeFront p {
        font-size: var(--font-size-xs);
    }

    .badgeBack p {
        font-size: var(--font-size-xxs);
    }
}

@media (width < 900px) {
    .badgeInner {
        width: 16rem;
        height: 23rem;
    }
}

@media (width < 800px) {
    .badgeInner {
        width: 13rem;
        height: 20rem;
    }

    .badgeFront img {
        margin-top: 0.1rem;
        width: 5rem;
    }

    .badgeFront h3 {
        margin-top: 0.5rem;
        font-size: var(--font-size-xs);
    }

    .badgeFront p {
        font-size: var(--font-size-base);
    }
    .badgeBack {
        padding-top: 2.5rem;
    }

    .badgeBack p {
        padding: 0.9rem 1rem;
        font-size: var(--font-size-xxxs);
    }
}

@media (width < 700px) {
    .badgeInner {
        width: 12.5rem;
        height: 19rem;
    }

    .badgeFront {
        padding: 3.5rem 0 0.5rem;
    }

    .badgeBack p {
        padding: 0.8rem 0.6rem;
    }

    .badgeHole {
        width: 3rem;
        height: 1rem;
    }
}
