.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    padding-top: 10rem;
    background-image: url('/svgs/background.svg');
    background-size: auto;
    background-position: top left;
    background-repeat: no-repeat;
}

.titleSection {
    position: absolute;
    transform: rotate(-90deg);
    top: 32%;
    left: 2%;
    font-size: var(--font-size-sm);
    text-shadow: var(--shadow-regular);
    width: 10rem;
}

.socialsGrid {
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 5rem;
    width: 60%;
    height: 70%;
    margin-left: 18rem;
}

.card {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
}

.card span {
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-bold);
}

.card span:hover {
    text-decoration: underline;
    text-underline-offset: 0.3rem;
    text-decoration-thickness: 0.15rem;
    cursor: pointer;
}

.header {
    grid-column: 1 / span 2;
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.header a {
    width: 3rem;
    height: 3rem;
    padding: 0.12rem;
}

.header img {
    width: 100%;
    height: 100%;
}

.linkSocial {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.previewImage {
    grid-column: 1 / span 2;
    width: 100%;
    height: auto;
    border-radius: var(--border-radius-medium);
    border: var(--border-regular);
    box-shadow: var(--shadow-regular);
}

.previewImage:hover {
    transform: scale(1.03);
    transition: transform 0.3s;
    box-shadow: var(--shadow-regular-hover);
}

.previewImage:active {
    transform: scale(0.98);
    transition: transform 0.2s;
}

.previewImage:nth-child(1) {
    width: 17rem;
    height: 28rem;
}

.previewImage:nth-child(2) {
    width: 45rem;
    height: 28rem;
}


/*Media Queries - Landscape*/
@media (width < 1300px) {
    .titleSection {
        left: 1.5%;
        width: 8rem;
    }

    .socialsGrid {
        margin-left: 15rem;
        grid-template-columns: 14rem 32rem;
    }
}

@media (width < 1200px) {
    .socialsGrid {
        margin-left: 11rem;
        grid-template-columns: 12rem 31rem;
    }
}

@media (width < 1100px) {
    .socialsGrid {
        margin-left: 11rem;
        grid-template-columns: 12rem 30rem;
        column-gap: 4rem;
    }
}

@media(width < 1000px) {
    .container {
        margin-bottom: 6rem;
    }

    .titleSection {
        left: -1%;
        font-size: var(--font-size-xs);
    }

    .socialsGrid {
        margin-left: 9rem;
        margin-bottom: 16rem;
        grid-template-columns: 12rem 29rem;
    }

    .header a {
        width: 2.8rem;
        height: 2.8rem;
    }
}

@media(width < 900px) {
    .container {
        padding-top: 10rem;
    }

    .header a {
        width: 2.5rem;
        height: 2.5rem;
    }

    .card {
        gap: 1rem;
    }

    .card span {
        font-size: var(--font-size-xxs);
        font-weight: var(--font-weight-bold);
    }

    .socialsGrid {
        margin-left: 8rem;
        grid-template-columns: 10rem 27rem;
        column-gap: 3rem;
    }

    .previewImage:nth-child(1) {
        height: auto;
    }

    .previewImage:nth-child(2) {
        height: 22rem;
    }
}

@media(width < 800px) {
    .container {
        padding-top: 7.5rem;
    }

    .titleSection {
        top: 35%;
        left: -4%;
        font-size: var(--font-size-base);
    }

    .header a {
        width: 2.2rem;
        height: 2.2rem;
    }

    .socialsGrid {
        margin-left: 6.5rem;
        grid-template-columns: 9rem 24rem;
        column-gap: 3rem;
    }

    .previewImage:nth-child(2) {
        height: 20rem;
    }
}

@media(width < 700px) {
    .container {
        padding-top: 6rem;
    }

    .card {
        gap: 0.8rem;
    }

    .socialsGrid {
        margin-left: 5rem;
        grid-template-columns: 8.5rem 22rem;
        column-gap: 2rem;
    }

    .previewImage:nth-child(2) {
        height: 18rem;
    }
}

@media (width < 600px) {
    .titleSection {
        top: 35%;
        left: -6%;
        font-size: var(--font-size-xxs);
    }

    .socialsGrid {
        margin-left: 5rem;
        grid-template-columns: 6.5rem 17.5rem;
        column-gap: 2.4rem;
    }

    .previewImage:nth-child(2) {
        height: 14rem;
    }

    .card span {
        font-size: var(--font-size-xxl);
    }

    .card {
        gap: 0.5rem;
    }

    .linkSocial {
        gap: 0;
    }

    .header a {
        width: 1.8rem;
        height: 1.8rem;
    }
}

@media (width < 500px) {
    .container {
        padding-top: 5.6rem;
    }

    .titleSection {
        top: 28%;
        left: -8.5%;
        font-size: var(--font-size-xxxs);
    }

    .socialsGrid {
        margin-left: 4.5rem;
        grid-template-columns: 5.5rem 14rem;
        column-gap: 2rem;
    }

    .header a {
        width: 1.6rem;
        height: 1.6rem;
    }

    .previewImage:nth-child(2) {
        height: 11rem;
    }
}


/*Media Queries - Portrait*/
@media (width <= 1100px) and (orientation: portrait) {
    .container {
        background-position: center top;
        background-size: contain;
        width: 100vw;
        height: 80vh;
        padding-top: 12rem;
    }

    .titleSection {
        font-size: var(--font-size-md);
        top: 25%;
        left: -1.5%;
    }

    .card {
        gap: 0;
        grid-template-rows: 8rem auto;
    }

    .socialsGrid {
        margin-left: 14rem;
        grid-template-columns: 13rem 26rem;
        column-gap: 4rem;
    }

}

@media (width <= 900px) and (orientation: portrait) {
    .socialsGrid {
        margin-left: 12rem;
    }
}

@media (width <= 800px) and (orientation: portrait) {
    .container {
        padding-top: 10rem;
    }

    .titleSection {
        top: 25%;
        left: -2.5%;
        font-size: var(--font-size-sm);
    }

    .socialsGrid {
        margin-left: 10rem;
        grid-template-columns: 11rem 22rem;
    }

    .card {
        gap: 0;
        grid-template-rows: 5rem auto;
    }
}

@media (width <= 700px) and (orientation: portrait) {
    .container {
        padding-top: 7rem;
    }

    .socialsGrid {
        grid-template-columns: 10rem 20rem;
        margin-left: 9rem;
        column-gap: 3rem;
    }
}

@media (width <= 600px) and (orientation: portrait) {
    .titleSection {
        top: 25%;
        left: -4%;
        font-size: var(--font-size-xs);
    }

    .card {
        gap: 0;
        grid-template-rows: 4rem auto;
    }

    .socialsGrid {
        grid-template-columns: 8.5rem 18rem;
        margin-left: 8rem;
        column-gap: 2.4rem;
    }

}

@media (width <= 500px) and (orientation: portrait) {
    .titleSection {
        top: 20%;
        left: -8%;
        font-size: var(--font-size-base);
    }

    .socialsGrid {
        margin-left: 5rem;
        grid-template-columns: 9rem 18.2rem;
        column-gap: 2.8rem;
    }

    .previewImage:nth-child(2) {
        height: 20rem;
    }
}





