.tagFilter {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 0.1rem 0 0.3rem 12.5rem;
}

.tagWrapper {
    display: flex;
}

@media (width < 1000px) {
    .tagFilter {
        margin: 0.1rem 0 0.3rem 8rem;
    }
}

@media(width < 900px) {
    .tagFilter {
        margin: 0 0 0.8rem 8rem;
    }
}

@media(width < 700px) {
    .tagFilter {
        margin: 0 0 0.8rem 6rem;
        gap: 0.5rem;
    }
}
