.selector {
    position: relative;
    align-self: start;
    width: fit-content;
    font-size: var(--font-size-base);
}

.option:hover,
.selected:hover {
    background-color: var(--lime-green);
}

.option:active {
    transform: scale(0.9);
    transition: transform 0.1s;
}

.selected {
    display: flex;
    align-items: center;
    color: var(--black);
    border: none;
    width: fit-content;
    background-color: transparent;
    cursor: pointer;
    gap: 1rem;
}

.selector button {
    border-radius: var(--border-radius-small);
}

.selected svg {
    width: 1rem;
    height: 1rem;
}

.options {
    position: absolute;
    top: 2rem;
    left: 0;
    z-index: 10;
    font-size: var(--font-size-base);
    width: fit-content;
    list-style: none;
}

.option {
    text-align: left;
    cursor: pointer;
    padding: 0.2rem 0.4rem;
    width: fit-content;
    transition: background 0.2s ease;
    border-radius: var(--border-radius-small);
}

@media (width <= 1000px) {
    .selector {
        width: 6rem;
        font-size: var(--font-size-xxs);
    }

    .option {
        padding-block: 0.2rem;
        font-size: var(--font-size-xxs);
    }

    .selected img {
        width: 1.3rem;
        height: 1.3rem;
    }
}

@media (width <= 800px) {
    .selector {
        width: 5rem;
        font-size: var(--font-size-xxxs);
    }

    .selected img {
        width: 1.2rem;
        height: 1.2rem;
    }

    .options {
        top: 1.2rem;
    }

    .option {
        padding-block: 0.1rem;
        font-size: var(--font-size-xxxs);
    }

    .selected:hover,
    .option:hover {
        text-underline-offset: 0.2rem;
        text-decoration-thickness: 0.1rem;
    }
}

@media (width <= 600px) {
    .selector {
        width: 4.5rem;
        font-size: var(--font-size-xxl);
    }

    .option {
        padding-block: 0;
        font-size: var(--font-size-xxl);
    }

    .options {
        top: 1rem;
    }
}
