.selector {
    position: relative;
    align-self: start;
    width: fit-content;
    font-size: var(--font-size-base);
}

.option:hover,
.selected:hover {
    background-color: var(--lime-green);
}

.option:active {
    transform: scale(0.9);
    transition: transform 0.1s;
}

.selected {
    display: flex;
    align-items: center;
    color: var(--black);
    border: none;
    width: fit-content;
    background-color: transparent;
    cursor: pointer;
    gap: 1rem;
}

.selector button {
    border-radius: var(--border-radius-small);
}

.selected img {
    width: 1rem;
    height: 1rem;
}

.options {
    position: absolute;
    top: 2rem;
    left: 0;
    z-index: 10;
    font-size: var(--font-size-base);
    width: fit-content;
    list-style: none;
}

.option {
    text-align: left;
    cursor: pointer;
    padding: 0.2rem 0.4rem;
    width: fit-content;
    transition: background 0.2s ease;
    border-radius: var(--border-radius-small);
}

@media (width <= 1100px) {
    .selector {
        font-size: var(--font-size-xxs);
    }

    .options {
        top: 1.6rem;
        font-size: var(--font-size-xxs);
    }
}

@media (width <= 1000px) {
    .options {
        top: 1.4rem;
    }
}

@media (width <= 800px) {
    .selector {
        font-size: var(--font-size-xxxs);
    }

    .option {
        font-size: var(--font-size-xxxs);
    }
}

@media (width <= 700px) {
    .option {
        padding-top: 0.05rem ;
    }

    .selected img {
        width: 0.8rem;
        height: 0.8rem;
    }

    .options {
        top: 1.5rem;
    }
}

@media (width <= 600px) {
    .selector {
        font-size: var(--font-size-xxl);
    }

    .option {
        font-size: var(--font-size-xxl);
    }

    .options {
        top: 1rem;
    }
}

/*Media Queries - Portrait*/
@media (width <= 600px) and (orientation: portrait) {
    .options {
        top: 1.5rem;
    }
}

@media (width <= 400px) and (orientation: portrait) {
    .selector {
        font-size: var(--font-size-xxxl);
    }

    .option {
        font-size: var(--font-size-xxxl);
    }

    .options {
        top: 1.2rem;
    }
}
