.selector {
    position: relative;
    width: 7rem;
    font-size: var(--font-size-base);
}

.selected:hover, .option:hover {
    cursor: pointer;
    text-decoration: underline;
    text-underline-offset: 0.3rem;
    text-decoration-thickness: 0.15rem;
}

.option:active {
    transform: scale(0.9);
    transition: transform 0.1s;
}

.selected {
    background-color: transparent;
    color: var(--black);
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.selected img {
    width: 1.5rem;
    height: 1.5rem;
}


.options {
    position: absolute;
    top: 1.8rem;
    left:0;
    list-style: none;
    z-index: 10;
    font-size: var(--font-size-base);
}

.option {
    text-align: left;
    cursor: pointer;
    padding-block: 0.12rem;
    transition: background 0.2s ease;
}

@media (width <= 1000px) {
    .selector {
        font-size: var(--font-size-xxs);
        width: 6rem;
    }

    .option {
        padding-block: 0.2rem;
        font-size: var(--font-size-xxs);
    }

    .selected img {
        width: 1.3rem;
        height: 1.3rem;
    }
}

@media (width <= 800px) {
    .selector {
        font-size: var(--font-size-xxxs);
        width: 5rem;
    }

    .selected img {
        width: 1.2rem;
        height: 1.2rem;
    }

    .options {
        top: 1.2rem;
    }

    .option {
        padding-block: 0.1rem;
        font-size: var(--font-size-xxxs);
    }

    .selected:hover, .option:hover {
        text-underline-offset: 0.2rem;
        text-decoration-thickness: 0.1rem;
    }
}

@media (width <= 600px) {
    .selector {
        font-size: var(--font-size-xxl);
        width: 4.5rem;
    }

    .option {
        padding-block: 0;
        font-size: var(--font-size-xxl);
    }

    .options {
        top: 1rem;
    }
}
