.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    padding-top: 12rem;
    background-image: url('/svgs/background.svg');
    background-size: cover;
    background-position: top left;
    background-repeat: no-repeat;
}

.titleSection {
    position: absolute;
    transform: rotate(-90deg);
    top: 32%;
    left: 2%;
    font-size: var(--font-size-sm);
    text-shadow: var(--shadow-regular);
    width: 10rem;
}

.intro {
    padding: 2rem 18rem 2rem 14rem;
    font-family: var(--font-mono), monospace;
    border-radius: var(--border-radius-large);
    text-align: left;
}

.intro h2 {
    color: var(--pink);
    font-size: var(--font-size-xl);
}

.intro p {
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-regular);
    color: var(--white);
}

.intro h2, p {
    background: var(--black);
    display: inline-block;
    border-radius: var(--border-radius-medium);
    padding: 1.4rem;
    margin: -0.8rem 0;
    box-shadow: var(--shadow-regular);
}

.introDescription {
    margin-top: 2rem;
}

.socials {
    display: grid;
    grid-template-columns: 1fr auto 12.5rem;
    width: 100%;
    margin-top: 7rem;
}

.lineBig, .lineSmall {
    border-bottom: 2px solid var(--black);
}

.icons {
    margin-bottom: 0.5rem;
}

@media (width < 1300px) {
    .container {
        padding-top: 11rem;
    }

    .titleSection {
        left: 1.5%;
        width: 8rem;
    }

    .intro {
        padding: 3.6rem 9rem 2rem 12rem;
    }

    .socials {
        grid-template-columns: 1fr auto 9rem;
    }
}

@media(width < 1200px) {
    .intro {
        padding: 3.6rem 8rem 2rem 10rem;
    }
}

@media(width < 1100px) {
    .intro {
        padding: 4rem 9rem 2rem 9rem;
    }

    .intro p {
        font-size: var(--font-size-sm);
    }

    .socials {
        margin-top: 3rem;
    }
}

@media(width < 1000px) {
    .titleSection {
        left: -1%;
        font-size: var(--font-size-xs);
    }

    .intro {
        padding: 2rem 5rem 1rem 6rem;
    }

    .intro h2 {
        font-size: var(--font-size-lg);
    }

    .socials {
        grid-template-columns: 1fr auto 6rem;
        margin-top: 6rem;
    }
}

@media(width < 900px) {
    .container {
        padding-top: 8rem;
    }

    .intro {
        padding: 2rem 5rem 0 6rem;
    }

    .intro p {
        font-size: var(--font-size-xs);
    }

    .socials {
        margin-top: 5rem;
    }
}

@media(width < 800px) {
    .container {
        padding-top: 7rem;
    }

    .titleSection {
        top: 35%;
        left: -4%;
        font-size: var(--font-size-base);
    }

    .intro {
        padding: 2rem 5rem 0;
    }

    .intro h2 {
        font-size: var(--font-size-md-plus);
    }

    .intro p {
        font-size: var(--font-size-base);
    }

    .socials {
        margin-top: 4rem;
    }

}

@media (width < 700px) {
    .intro {
        padding: 0.8rem 7rem 0.5rem 5rem;
    }
}

@media (width < 600px) {
    .container {
        padding-top: 6rem;
    }

    .titleSection {
        top: 35%;
        left: -6%;
        font-size: var(--font-size-xxs);
    }

    .intro {
        padding: 0.8rem 6rem 0 5rem;
    }

    .intro h2 {
        font-size: var(--font-size-md);
    }

    .intro p {
        font-size: var(--font-size-xxs);
    }

    .socials {
        grid-template-columns: 1fr auto 3rem;
        margin-top: 3.6rem;
    }

    .intro h2, .intro p {
        margin: -0.72rem;
        padding: 1.2rem;
    }
}

@media (width < 500px) {
    .container {
        padding-top: 5.7rem;
    }

    .titleSection {
        top: 28%;
        left: -8.5%;
        font-size: var(--font-size-xxxs);
    }

    .intro {
        padding: 0 5.5rem 0 4rem;
    }

    .intro h2 {
        font-size: var(--font-size-sm);
        padding: 0.8rem;
    }

    .intro .introTitle:first-child {
        margin-bottom: 0.4rem;
    }

    .intro p {
        font-size: var(--font-size-xxxs);
        padding: 0.8rem;
        margin-top: -1rem;
        margin-right: 0;
    }

    .socials {
        margin-top: 3rem;
    }
}
