.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    padding-top: 12rem;
    background-image: url('/svgs/background.svg');
    background-size: auto;
    background-position: top left;
    background-repeat: no-repeat;
}

.titleSection {
    position: absolute;
    transform: rotate(-90deg);
    top: 32%;
    left: 2%;
    font-size: var(--font-size-sm);
    text-shadow: var(--shadow-regular);
    width: 10rem;
}

.intro {
    padding: 2.5rem 16rem 1rem;
    font-family: var(--font-mono), monospace;
    border-radius: var(--border-radius-large);
    text-align: left;
}

.intro h2 {
    color: var(--pink);
    font-size: var(--font-size-xl);
}

.intro p {
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-regular);
    color: var(--white);
}

.intro h2, p {
    background: var(--black);
    display: inline-block;
    border-radius: var(--border-radius-medium);
    padding: 1.4rem;
    margin: -0.8rem 0;
    box-shadow: var(--shadow-regular);
}

.introDescription {
    margin-top: 2rem;
}

.socials {
    display: grid;
    grid-template-columns: 1fr auto 12.5rem;
    width: 100%;
    margin-top: 6rem;
}

.lineBig, .lineSmall {
    border-bottom: 2px solid var(--black);
}

.icons {
    margin-bottom: 0.5rem;
}

@media (width < 1300px) {
    .container {
        padding-top: 11rem;
    }

    .titleSection {
        left: 1.5%;
        width: 8rem;
    }

    .intro {
        padding: 3.6rem 9rem 2rem 12rem;
    }

    .socials {
        grid-template-columns: 1fr auto 9rem;
    }
}

@media(width < 1200px) {
    .intro {
        padding: 3.6rem 8rem 2rem 10rem;
    }
}

@media(width < 1100px) {
    .intro {
        padding: 4rem 10rem 2rem 7rem;
    }

    .intro p {
        font-size: var(--font-size-sm);
    }

    .socials {
        margin-top: 3rem;
    }
}

@media(width < 1000px) {
    .titleSection {
        left: -1%;
        font-size: var(--font-size-xs);
    }

    .intro {
        padding: 3rem 8rem 3rem 8rem;
    }

    .intro h2 {
        font-size: var(--font-size-lg);
    }

    .socials {
        grid-template-columns: 1fr auto 6rem;
        margin-top: 6rem;
    }
}
