.scrollWrapper {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: 1;
}

.container {
    position: relative;
    width: 100vw;
    height: auto;
    min-height: 100vh;
    padding-top: 10rem;
    background-image: url('/svgs/background.svg');
    background-size: auto;
    background-position: top left;
    background-repeat: no-repeat;
    /* Prepare for GSAP horizontal translation */
    transform: translateX(0);
    will-change: transform;
    z-index: 2;
}

.titleSection {
    position: absolute;
    transform: rotate(-90deg);
    top: 32%;
    left: 2%;
    font-size: var(--font-size-sm);
    text-shadow: var(--shadow-regular);
    width: 10rem;
}

.casesGrid {
    /* Make the flex item expand to fit its grid contents horizontally */
    width: max-content;
    display: block;
}

/*Media Queries - Landscape*/
@media (width < 1300px) {
    .titleSection {
        left: 1.5%;
        width: 8rem;
    }
}

@media(width < 1000px) {
    .titleSection {
        left: -1%;
        font-size: var(--font-size-xs);
    }
}

@media(width < 900px) {
    .container {
        padding-top: 8rem;
    }
}

@media(width < 800px) {
    .titleSection {
        top: 35%;
        left: -4%;
        font-size: var(--font-size-base);
    }
}

@media(width < 700px) {
    .container {
        padding-top: 6rem;
    }
}

@media (width < 600px) {
    .container {
        padding-top: 5rem;
    }

    .titleSection {
        top: 35%;
        left: -6%;
        font-size: var(--font-size-xxs);
    }
}

@media (width < 500px) {
    .container {
        padding-top: 5rem;
    }

    .titleSection {
        top: 18%;
        left: -8.5%;
        font-size: var(--font-size-xxxs);
    }
}

/*Media Queries - Portrait*/
@media (width <= 1100px) and (orientation: portrait) {
    .container {
        background-position: center top;
        background-size: contain;
        width: 100vw;
        height: 100vh;
        padding-top: 16rem;
    }

    .titleSection {
        font-size: var(--font-size-md);
        top: 25%;
        left: -1.5%;
    }

    .casesGrid {
        margin-left: 4rem;
    }
}

@media (width <= 900px) and (orientation: portrait) {
    .container {
        padding-top: 14rem;
    }

    .casesGrid {
        margin-left: 8rem;
    }
}



