.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    padding-top: 12rem;
    background-image: url('/svgs/background.svg');
    background-size: auto;
    background-position: top left;
    background-repeat: no-repeat;
}

.titleSection {
    position: absolute;
    transform: rotate(-90deg);
    top: 32%;
    left: 2%;
    font-size: var(--font-size-sm);
    text-shadow: var(--shadow-regular);
    width: 10rem;
}

.casesGrid {
    display: grid;
}
