:root {
    /*Borders*/
    --border-base: 1px solid var(--black);
    --border-regular: 2px solid var(--black);

    /*Border Radius*/
    --border-radius-small: 0.3rem;
    --border-radius-base: 0.5rem;
    --border-radius-medium: 1rem;
    --border-radius-large: 2rem;

    /*Box-Shadow*/
    --shadow-base: 4px 4px 6px rgba(0, 0, 0, 0.35);
    --shadow-base-hover: 5px 5px 7px rgba(0, 0, 0, 0.37);
    --shadow-regular: 8px 8px 10px rgba(0, 0, 0, 0.35);
    --shadow-regular-hover: 9px 9px 11px rgba(0, 0, 0, 0.37);
}
