/* IBM Plex Mono */
@font-face {
    font-weight: 400;
    font-family: 'IBM Plex Mono';
    font-style: normal;
    src: url('/fonts/ibm_mono/IBMPlexMono-Regular.woff2') format('woff2');
}

@font-face {
    font-weight: 500;
    font-family: 'IBM Plex Mono';
    font-style: normal;
    src: url('/fonts/ibm_mono/IBMPlexMono-Medium.woff2') format('woff2');
}

@font-face {
    font-weight: 500;
    font-family: 'IBM Plex Mono';
    font-style: italic;
    src: url('/fonts/ibm_mono/IBMPlexMono-MediumItalic.woff2') format('woff2');
}

@font-face {
    font-weight: 700;
    font-family: 'IBM Plex Mono';
    font-style: normal;
    src: url('/fonts/ibm_mono/IBMPlexMono-Bold.woff2') format('woff2');
}

@font-face {
    font-weight: 700;
    font-family: 'IBM Plex Mono';
    font-style: italic;
    src: url('/fonts/ibm_mono/IBMPlexMono-BoldItalic.woff2') format('woff2');
}

/* IBM Plex Sans */
@font-face {
    font-weight: 400;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    src: url('/fonts/ibm_sans/IBMPlexSans-Regular.woff2') format('woff2');
}

@font-face {
    font-weight: 400;
    font-family: 'IBM Plex Sans';
    font-style: italic;
    src: url('/fonts/ibm_sans/IBMPlexSans-Italic.woff2') format('woff2');
}

@font-face {
    font-weight: 500;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    src: url('/fonts/ibm_sans/IBMPlexSans-Medium.woff2') format('woff2');
}

@font-face {
    font-weight: 500;
    font-family: 'IBM Plex Sans';
    font-style: italic;
    src: url('/fonts/ibm_sans/IBMPlexSans-MediumItalic.woff2') format('woff2');
}

@font-face {
    font-weight: 600;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    src: url('/fonts/ibm_sans/IBMPlexSans-SemiBold.woff2') format('woff2');
}

@font-face {
    font-weight: 600;
    font-family: 'IBM Plex Sans';
    font-style: italic;
    src: url('/fonts/ibm_sans/IBMPlexSans-SemiBoldItalic.woff2') format('woff2');
}

@font-face {
    font-weight: 700;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    src: url('/fonts/ibm_sans/IBMPlexSans-Bold.woff2') format('woff2');
}

@font-face {
    font-weight: 700;
    font-family: 'IBM Plex Sans';
    font-style: italic;
    src: url('/fonts/ibm_sans/IBMPlexSans-BoldItalic.woff2') format('woff2');
}

:root {
    --font-sans: 'IBM Plex Sans', sans-serif;
    --font-mono: 'IBM Plex Mono', monospace;

    --font-size-xxxl: 0.5rem;
    --font-size-xxl: 0.6rem;
    --font-size-xxxs: 0.7rem;
    --font-size-xxs: 0.8rem;
    --font-size-base: 1rem;
    --font-size-xs: 1.25rem;
    --font-size-sm: 1.4rem;
    --font-size-md: 1.55rem;
    --font-size-md-plus: 2rem;
    --font-size-lg: 2.4rem;
    --font-size-xl: 3.2rem;

    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;

    --line-height-regular: 1.5rem;
    --line-height-medium: 1.875rem;
    --line-height-large: 3.125rem;
    --line-height-extra-large: 5rem;
}
