.linkContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1.5rem;
    margin-inline: 1.5rem;
}

.linkContainer a:hover {
    outline: 2px solid var(--black);
    outline-offset: 0.4rem;
}

@media (width < 1000px) {
    .linkContainer {
        column-gap: 1rem;
    }
}

@media (width < 800px) {
    .linkContainer {
        margin-inline: 1rem;
    }
}

@media (width < 700px) {
    .linkContainer {
        column-gap: 0.8rem;
    }
}
