.caseCard{
    position: relative;
    width: 24rem;
    height: 15rem;
    border: 2px solid var(--black);
    box-shadow: var(--shadow-regular);
    cursor: pointer;
}

.caseCard:hover {
    transform: scale(1.04);
    transition: transform 0.2s;
    box-shadow: var(--shadow-regular-hover);
}

.caseCard:active {
    transform: scale(0.98);
    transition: transform 0.2s;
}

.caseCard img {
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius-base);
    object-fit: cover;
}

.tagList {
    position: absolute;
    top: 0.1rem;
    right: 0.4rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.25rem;
    margin-top: 0.25rem;
    z-index: 2;
}

.labelCard {
    position: absolute;
    bottom: 1.6rem;
    left: -1px;
    background-color: var(--pink);
    color: var(--white);
    font-size: var(--font-size-sm);
    padding: 0.2rem 1rem;
    border: 1px solid var(--black);
    box-shadow: var(--shadow-base);
}

.labelProject {
    text-align: left;
    font-family: var(--font-sans), sans-serif;
}

.labelProject h5 {
    padding: 0;
    margin: 0;
}

