.textBlock {
    margin: 4rem 0;
    font-family: var(--font-sans), sans-serif;
    box-shadow: none;
    display: flex;
    flex-direction: column;
}

.textBlock h5 {
    font-size: var(--font-size-md-plus);
    font-family: var(--font-mono), monospace;
    font-weight: var(--font-weight-bold);
    text-align: center;
    padding-inline: 4rem;
}

.textBlock p {
    font-weight: var(--font-weight-regular);
    background-color: var(--background);
    font-size: var(--font-size-xs);
    text-indent: 2rem;
    box-shadow: none;
}

@media (width < 1200px) {
    .textBlock {
        margin: 3rem 0;
    }
}

@media (width < 1100px) {
    .textBlock {
        margin: 2rem 0;
    }
}

@media (width < 1000px) {
    .textBlock h5 {
        font-size: var(--font-size-md);
    }

    .textBlock p {
        font-size: var(--font-size-base);
    }
}

@media (width < 800px) {
    .textBlock {
        margin: 0;
    }

    .textBlock h5 {
        font-size: var(--font-size-sm);
        padding-inline: 0.5rem;
        margin-block: 1.5rem;
    }
    .textBlock p {
        text-indent: 1.5rem;
    }
}

@media (width < 600px) {
    .textBlock {
        gap: 2rem
    }

    .textBlock h5 {
        font-size: var(--font-size-xs);
    }
}

@media (width < 500px) {
    .textBlock h5 {
        font-size: var(--font-size-xs);
    }

    .textBlock p {
        font-size: var(--font-size-xxs);
        text-indent: 1rem;
    }
}
