.textBlock {
    margin: 4rem 0;
    font-family: var(--font-sans), sans-serif;
    box-shadow: none;
}

.textBlock h5 {
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-bold);
    text-align: center;
}

.textBlock p {
    font-family: var(--font-mono), monospace;
    font-weight: var(--font-weight-regular);
    background-color: var(--background);
    font-size: var(--font-size-xs);
    text-indent: 1.5rem;
    box-shadow: none;
}
