.coverImage {
    position: absolute;
    top: 0;
    left: 4px;
    height: 5rem;
    width: calc(100vw - 8px);
    background-image: url('/svgs/backgroundFooter.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 10;
    pointer-events: none;
    border-radius: 0 0 4rem 4rem;
}

section {
    position: relative;
}

footer {
    z-index: 1;
    background-color: var(--black);
    color: var(--white);
    padding: 6rem 12.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer h4 {
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-bold);
    line-height: 1.2;
}

footer p a {
    color: var(--white);
    text-decoration: none;
    font-weight: var(--font-weight-regular);
    cursor: pointer;
    font-family: var(--font-mono), monospace;
    font-size: var(--font-size-base);
}

.footerLinks a {
    width: 3rem;
    height: 3rem;
    padding: 0.1rem
}

.footerLinks a:hover {
    outline: 2px solid var(--white);
    outline-offset: 0.4rem;
}
