section {
    position: relative;
}

footer {
    z-index: 1;
    background-color: var(--black);
    color: var(--white);
    padding: 1.5rem 12.5rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4rem;
}

footer h4 {
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-bold);
    line-height: 1.2;
}

footer p a {
    color: var(--white);
    text-decoration: none;
    font-weight: var(--font-weight-regular);
    cursor: pointer;
    font-family: var(--font-mono), monospace;
    font-size: var(--font-size-base);
}

.footerLinks a {
    width: 3rem;
    height: 3rem;
    padding: 0.1rem
}

.footerLinks a:hover {
    outline: 2px solid var(--white);
    outline-offset: 0.4rem;
}

.author:hover {
    text-decoration: underline;
    text-decoration-thickness: 0.08rem;
    text-underline-offset: 0.5rem;
}

p:active {
    transform: scale(0.90);
    transition: transform 0.2s;
}
