.modal {
    z-index: 1000;
    background-color: var(--background);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    width: 80%;
    max-height: 80vh;
    overflow-y: auto;
}


.modal img {
    max-width: 100%;
    height: auto;
    margin-top: 1rem;
}

.closeButton {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1001;
}

.closeButton:hover {
    transform: scale(1.1);
    transition: transform 0.1s;
}

.closeButton:active {
    transform: scale(0.9);
    transition: transform 0.1s;
}

.closeButton svg {
    width: 3rem;
    height: 3rem;
    fill: var(--white);
}

.closeButton svg:hover {
    fill: var(--pink);
}

.modalHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 4rem;
    padding-bottom: 2rem;
    border-bottom: 2px solid var(--black);
}

.modalHeader img {
    width: 8rem;
    height: auto;
}

.infoSection {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 0.3rem;
}

.titleSection h5 {
    font-family: var(--font-mono), monospace;
    font-weight: var(--font-weight-semibold);
    font-size: var(--font-size-md);
    padding: 0;
    margin: 0;
}

.tagsSection {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.logoSection {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.logo {
    height: 40px;
    object-fit: contain;
}

.techSheet {
    display: flex;
    flex-direction: column;
    margin-top: 6rem;
    width: 27rem;
    border: 1px solid var(--black);
}

.techSheet span {
    font-family: var(--font-mono), monospace;
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-base);
    margin: 0;
    padding-block: 0.2rem;
    box-shadow: none;
    border-radius: 0;
    display: block;
    width: 100%;
    border: 1px solid var(--black);
    padding: 0.5rem 1rem;
}

.modalOverlay {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    z-index: 999;
}

/*Media Queries - Landscape*/
@media(width < 1000px) {
    .modalHeader {
        padding-bottom: 0;
    }

    .modalHeader img {
        width: 6rem;
        padding-bottom: 0.5rem;
    }

    .techSheet {
        width: 21rem;
    }

    .techSheet span {
        font-size: var(--font-size-xxs);
    }
}

@media(width < 900px) {
    .closeButton svg {
        width: 2rem;
        height: 2rem;
    }
}


@media(width < 800px) {
    .modalHeader {
        margin-bottom: 1rem;
    }
}

@media (width < 700px) {
    .modal {
        width: 90%;
        height: 90vh;
    }

    .closeButton {
        top: 0.2rem;
        right: 0.1rem;
    }

    .titleSection h5 {
        font-size: var(--font-size-sm);
    }

    .tagsSection {
        gap: 0.4rem;
        padding-bottom: 0.5rem;
    }

    .logoSection {
        gap: 0;
    }

    .modalHeader img {
        width: 4.8rem;

    }
}

@media (width < 600px) {
    .modalHeader {
        margin-bottom: 0.1rem;
    }

    .closeButton {
        top: 0.3rem;
        right: 0.3rem;
    }

    .closeButton svg {
        width: 1.5rem;
        height: 1.5rem;
    }

    .modalHeader img {
        width: 4rem;
    }

    .modalHeader img:nth-child(2) {
        display: none;
    }

    .titleSection h5 {
        font-size: var(--font-size-xs);
    }

    .techSheet span {
        font-size: var(--font-size-xxxs);
    }

    .techSheet {
        width: 18rem;
    }
}

@media (width < 500px) {
    .titleSection h5 {
        font-size: var(--font-size-base);
    }

    .modalHeader img {
        display: none;
    }

    .closeButton {
        top: 0.1rem;
        right: 0.1rem;
    }

    .tagsSection {
        gap: 0.2rem;
        margin-bottom: 0.8rem;
    }

    .techSheet {
        width: 17rem;
    }

}

/*Media Queries - Portrait*/
@media (width <= 1100px) and (orientation: portrait) {

    .closeButton {
        top: 2rem;
        right: 1rem;
    }

    .closeButton svg {
        width: 3rem;
        height: 3rem;
    }
}

@media (width <= 900px) and (orientation: portrait) {
    .closeButton {
        top: 1.4rem;
        right: 1rem;
    }
}
