.container {
    z-index: 2;
    display: flex;
    width: 100%;
    height: auto;
    min-height: 100vh;
    transform: translateX(0);
    will-change: transform;
}

.titleSection {
    position: absolute;
    top: 32%;
    left: 1%;
    padding: 0.8rem;
    font-size: var(--font-size-sm);
    background: #a8eb0f;
    border-radius: var(--border-radius-small);
    transform: rotate(-90deg);
}

.scrollWrapper {
    position: relative;
    z-index: 1;
    width: 100vw;
    height: 100vh;

}

.badgeGrid {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    margin: auto 0;
    padding: 8rem 18rem 2rem;
    gap: 2rem 10rem;
}

.timeline {
    position: relative;
    display: grid;
    grid-column: 1 / -1;
    grid-template-columns: inherit;
}

.timeline::before {
    position: absolute;
    top: 0; /* topo do wrapper */
    right: 0;
    left: 0;
    height: 2px;
    background: var(--black);
    content: "";
}

.timelineYear {
    position: relative;
    display: inline-block;
    width: fit-content;
    padding: 0.2rem 0.5rem;
    font-size: var(--font-size-sm);
    text-align: center;
    background-color: var(--lime-green);
    border-radius: var(--border-radius-base);
    place-self: center;
}

.timelineYear::before {
    position: absolute;
    top: -6.5rem; /* deve bater com o padding-top do wrapper */
    left: 50%;
    z-index: 1; /* idem: mesmo valor do padding-top */
    width: 2px;
    height: 6.2rem;
    background: var(--black);
    transform: translateX(-50%);
    content: "";
}

/* Media Queries - Landscape */
@media (width <= 1300px) {
    .titleSection {
        left: 1.5%;
        width: 8rem;
    }

    .badgeGrid {
        column-gap: 10rem;
        padding: 10rem 16rem 2rem;
    }
}

@media (width <= 1000px) {
    .container {
        padding-top: 8rem;
    }

    .titleSection {
        left: -1%;
        font-size: var(--font-size-xs);
    }

    .badgeGrid {
        column-gap: 8rem;
        padding: 4rem 8rem 2rem 12rem;
    }

    .timelineYear {
        font-size: var(--font-size-xs);
    }
}

@media (width <= 900px) {
    .container {
        padding-top: 6rem;
    }

    .badgeGrid {
        margin-right: 6rem;
    }

    .timelineYear {
        font-size: var(--font-size-xxs);
    }

    .timelineYear::before {
        top: -10.5rem;
        height: 10rem;
    }
}

@media (width <= 800px) {
    .container {
        padding-top: 4rem;
    }

    .titleSection {
        top: 35%;
        left: -4%;
        font-size: var(--font-size-base);
    }

    .badgeGrid {
        column-gap: 6rem;
        padding: 3rem 8rem 2rem 12rem;
    }
}

@media (width <= 700px) {
    .container {
        padding-top: 3rem;
    }

    .badgeGrid{
        padding-bottom: 0;
        row-gap: 1.2rem;
    }
}

@media (width <= 600px) {
    .container {
        padding-top: 0.9rem;
    }

    .titleSection {
        top: 35%;
        left: -6%;
        font-size: var(--font-size-xxs);
    }

    .badgeGrid {
        column-gap: 6rem;
        padding: 4rem 10rem 1rem;
    }
}

@media (width <= 500px) {
    .container {
        padding-top: 0;
    }

    .titleSection {
        top: 18%;
        left: -8.5%;
        font-size: var(--font-size-xxxs);
    }

    .timeline {
        margin-block: 0;
    }

    .badgeGrid {
        padding: 5rem 5rem 5.5rem 8rem;
        row-gap: 1rem;
    }

    .timelineYear::before {
        top: -10.2rem;
    }
}

/* Media Queries - Portrait */
@media (width <= 1100px) and (orientation: portrait) {
    .container {
        width: 100vw;
        height: 100vh;
    }

    .titleSection {
        top: 25%;
        left: -1.5%;
        font-size: var(--font-size-md);
    }

    .badgeGrid {
        column-gap: 16rem;
        padding: 16rem 18rem 8rem;
        row-gap: 6rem;
    }


    .timelineYear {
        margin: -2rem;
        padding: 0;
        font-size: var(--font-size-md);
    }

    .timelineYear::before {
        top: -16rem;
        height: 15rem;
    }
}

@media (width <= 1000px) and (orientation: portrait) {
    .badgeGrid {
        padding: 8rem 18rem;
    }
}

@media (width <= 800px) and (orientation: portrait) {
    .container {
        padding-top: 12rem;
    }

    .titleSection {
        top: 25%;
        left: -2.5%;
        font-size: var(--font-size-sm);
    }

    .badgeGrid {
        column-gap: 10rem;
        padding-right: 10rem;
    }
}

@media (width <= 600px) and (orientation: portrait) {
    .container {
        padding-top: 7rem;
    }

    .titleSection {
        top: 25%;
        left: -5.5%;
        font-size: var(--font-size-xs);
    }

    .badgeGrid {
        column-gap: 9rem;
        padding:6rem 8rem 2rem 10rem;
    }
}

@media (width <= 500px) and (orientation: portrait) {
    .titleSection {
        top: 20%;
        left: -8%;
        font-size: var(--font-size-base);
    }

    .badgeGrid {
        padding: 1rem 6rem 1rem 10rem;
    }

    .timelineYear {
        font-size: var(--font-size-sm);
    }

    .timelineYear::before {
        height: 15.5rem;
    }
}

@media (width <= 400px) and (orientation: portrait) {
    .badgeGrid {
        padding: 1rem 4rem 1rem 8rem;
        gap: 4rem 7rem;
    }
}




